body,
html {
  height: 100%;
}

.main_container {
  background-image: url("../images/Sunrise_Over_Saint_Lucia_Bay.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  font-family: "Waiting for the Sunrise", cursive;
  color: white;
}

#band_name_row {
  height: 500px;
}

#band_name {
  font-size: 800%;
  padding-top: 18%;
}
.sticky_nav {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.8;
  z-index: 20;
}

.navbar_menu {
  /* background: #fefefa; */
  background: white;
  height: 70px;
  opacity: 0.5;
}

.nav_link {
  font-family: "Waiting for the Sunrise", cursive;
  color: black;
  text-decoration: none;
  padding: 22px 10px 0px 10px;
  position: relative;
}

.iframe_dont_move {
  padding-top: 50px;
}

.song {
  padding: 20px 20px 20px 20px;
}
.nav_link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a:hover {
  color: black;
}
.nav_list {
  display: inline;
}
.second_container {
  background-image: url("../images/Sunrise_at_ocean.JPG");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
}

.music_container {
  padding-top: 3%;
}

#music_header {
  font-size: 400%;
  font-family: "Waiting for the Sunrise", cursive;
  color: white;
}
.bio_picture {
  background-image: url("../images/Sunrise_Over_Saint_Lucia_Bay.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  font-family: "Raleway", serif;
  color: white;
  z-index: 10;
}

.bio_picture {
  height: 500px;
}
#biogrpahy_container_outside_wrapper {
  padding-top: 10%;
}
#biography_selfie {
  background: black;
  /* margin: 0px 0px 15px 30px; */
}

.biography_container {
  background: white;
  color: black;
  font-family: "Raleway", serif;
  /* margin: 0px 30px 15px 0px; */
  z-index: 1;
}

#connect_form_outer_row {
  background: black;
}

.connect_form_wrapper {
  background: rgb(250, 74, 21);
  margin: auto;
  margin-top: 4%;
  opacity: 0.7;
}

#contact_form {
  padding: 20px 10px 20px 10px;
}

.contact_form_inputs_buttons {
  width: 100%;
  border-radius: 5px;
  margin: 8px 0px 8px 0px;
  padding: 8px 0px 8px 0px;
}

#connect_with_me {
  font-family: "Waiting for the Sunrise", cursive;
  font-size: 500%;
  color: white;
  font-weight: bold;
  margin: 30px 0px 30px 0px;
}

#connect_submit_button {
  color: white;
  font-family: "Waiting for the Sunrise", cursive;
  font-size: 150%;
  background: rgb(172, 52, 15);
}

input::placeholder {
  color: gray;
  font-family: "Waiting for the Sunrise", cursive;
  font-size: 110%;
}

textarea {
  color: gray;
  font-family: "Waiting for the Sunrise", cursive;
  font-size: 110%;
}
.connect_form_header {
  font-family: "Waiting for the Sunrise", cursive;
  font-size: 200%;
  color: white;
  font-weight: bold;
}
